<div>
    <div id="bottom-bar" class="bottom-bar">
        <div class="col-md-12 rota-view">
                <table class="rota-table">
                    <!-- Year -->
                    <tr>
                        <td></td>
                        <th class="rota-dates" ng-repeat="year in bbctrl.years" colspan="{{year.count}}">
                            {{ year.value }}
                        </th>
                        <td></td>
                    </tr>

                    <!-- Month -->
                    <tr>
                        <td></td>
                        <th class="rota-dates" ng-repeat="month in bbctrl.months" colspan="{{month.count}}">
                            {{ month.value }}
                        </th>
                        <td></td>
                    </tr>

                    <!-- Day -->
                    <tr>
                        <td></td>
                        <th class="rota-dates" ng-repeat="shift in bbctrl.shifts">
                            {{ shift.shiftId.day }}
                        </th>
                        <td></td>
                    </tr>

                    <!-- Day of week -->
                    <tr>
                        <td></td>
                        <th class="rota-dates" ng-repeat="shift in bbctrl.shifts">
                            {{ shift.shiftId.dayOfWeek }}
                        </th>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn" ng-click="bbctrl.getPreviousWeek()"><i class="fa fa-chevron-circle-left"></i></button>
                        </td>
                        <td class="rota-shift col-md-2" ng-repeat="shift in bbctrl.shifts" ng-class=shift.shiftType.id>
                            {{shift.shiftType.id}}
                            <span ng-show="shift.comment" title={{shift.comment}} class="glyphicon glyphicon-comment"></span>
                        </td>
                        <td>
                            <button class="btn" ng-click="bbctrl.getNextWeek()"><i class="fa fa-chevron-circle-right"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
    </div>

    <div class="bottom-bar-button-container">
        <span id="bottom-bar-toggle-btn" class="glyphicon glyphicon-chevron-up"></span>
    </div>
</div>