.bottom-bar {
    height: 0;
    width: 100%;
    position: fixed;
    background-color: #DCDCDC;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    bottom: 0;
}

.bottom-bar-button-container {
    width: 100%;
    position: fixed;
    transition: 0.5s;
    bottom: 30px;
    left: Calc(50% - 14px); /* 28 px is the size of the button */
}

.bottom-bar-button-container .glyphicon {
    font-size: 2em;
}

.bottom-bar-button-container span:hover {
    color: #585858;
}

.bottom-bar .rota-view {
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}