<div class="edit-user">
    <h3>Edit user: {{ vm.userToEdit.name }} {{ vm.userToEdit.surname }}</h3>
    <form name="editUserForm" ng-submit='vm.editUser()'>
        <!-- PID -->
        <div class="form-group">
            <label for="pid">PID</label>
            <input type="text" class="form-control" id="pid" placeholder="PID" ng-model="vm.userToEdit.pid" required>
        </div>

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.userToEdit.name" required>
        </div>

        <!-- Surname -->
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="vm.userToEdit.surname" required>
        </div>

        <!-- Email address -->
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.userToEdit.email" required>
        </div>

        <!-- Team -->
        <div class="form-group">
            <label for="team">Team</label>
            <select class="form-control" id="team" required ng-model="vm.userToEdit.role.team.id">
                <option ng-repeat="team in vm.teams" value="{{team.id}}" ng-selected="team.id === vm.userToEdit.role.team.id">{{ team.description }}</option>
            </select>
        </div>

        <!-- Role -->
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" required ng-model="vm.userToEdit.role.id">
                <option ng-repeat="role in vm.filterRolesForTeam(vm.userToEdit.role.team.id)" value="{{role.id}}" ng-selected="role.id === vm.userToEdit.role.id">{{ role.description }}</option>
            </select>
        </div>

        <!-- User Type -->
        <div class="form-group">
            <label for="userType">User Type</label>
            <select class="form-control" id="userType" required ng-model="vm.userToEdit.userType.id">
                <option ng-repeat="userType in vm.userTypes" value="{{userType.id}}" ng-selected="userType.id === vm.userToEdit.userType.id">{{ userType.description }}</option>
            </select>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-add-user" ng-disabled="editUserForm.$invalid">Update<i class="fa fa-user-plus" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>
