.edit-user {
    background-color: #dbdbdb;
    padding: 10px;
}

.edit-user h3 {
    text-align: center;
}

.edit-user input:invalid, .edit-user select:invalid {
    border: 1.5px solid #890a0a;
}

.edit-user button.btn-basic {
    margin: 10px 9% 30px 9%;
    width: 30%;
    text-align: center;
    white-space: normal;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    background-color: #ababab;
    color: #2b2b2b;
    box-shadow: 1px 1px 5px #999999;
}

.edit-user button.btn-basic:hover{
    background-color: #8b8b8b;
}

.edit-user button.btn-basic i{
    margin: 0px 2% 0px 2%;
}

.edit-user button.btn-add-user {

}

.edit-user button.btn-cancel {
    background-color: #d0d0d0;
}
