<div>
    <h1>Rota generation</h1>
    <input type="text" id="rota-gen-dp" placeholder="Rota generation start date" />
    <input type="number" id="rota-gen-off" placeholder="Rota generation offset" ng-model="vm.offset" />
    <button type="button" class="btn btn-danger" ng-click="vm.generateRota()">Generate rota</button>
</div>

<div>
    <h1>Excel export</h1>
    <input type="text" id="export-dp" placeholder="Export date" />
    <button type="button" class="btn btn-info" ng-click="vm.downloadExcel()">Download</button>
</div>