<div class="constraints-list-heading">
    Constraints
</div>

<div class="constraints-add-button">
    <button type="button" class="btn btn-success" ng-click="vm.addConstraint()">
        <span class="glyphicon glyphicon-plus"></span>
        Add new constraint
    </button>
</div>

<table ng-table="vm.constraintsTable" show-filter="true" class="table table-bordered filled-cells" ng-form="constraintForm">
    <tr ng-repeat="constraint in $data" class="constraints-data">
        <!-- ShiftType -->
        <td title="'ShiftType'" filter="{shiftType : 'text'}" sortable="'shiftType'">
            <span ng-if="!constraint.isEditing">{{ constraint.shiftType }}</span>

            <select ng-if="constraint.isEditing" id="shiftType" required ng-model="constraint.shiftType">
                <option ng-repeat="shiftType in vm.allShiftTypes" value="{{shiftType.id}}" ng-selected="shiftType.id === constraint.shiftType">{{ shiftType.id }}</option>
            </select>
        </td>

        <!-- Role -->
        <td title="'Role'" filter="{role : 'text'}" sortable="'role'">
            <span ng-if="!constraint.isEditing">{{ constraint.role }}</span>

            <select ng-if="constraint.isEditing" id="role" required ng-model="constraint.role">
                <option ng-repeat="role in vm.allRoles" value="{{role.id}}" ng-selected="role.id === constraint.role">{{ role.id }}</option>
            </select>
        </td>

        <!-- Work start -->
        <td title="'Work start'" filter="{workStart : 'text'}" sortable="'workStart'">
            <span ng-if="!constraint.isEditing">{{ constraint.workStart }}</span>
            <input type="text" ng-model="constraint.workStart" pattern="\d\d:\d\d" ng-if="constraint.isEditing" required/>
        </td>

        <!-- Work end -->
        <td title="'Work end'" filter="{workEnd : 'text'}" sortable="'workEnd'">
            <span ng-if="!constraint.isEditing">{{ constraint.workEnd }}</span>
            <input type="text" ng-model="constraint.workEnd" pattern="\d\d:\d\d" ng-if="constraint.isEditing" required/>
        </td>

        <!-- Min -->
        <td title="'Min'" filter="{min : 'text'}" sortable="'min'">
            <span ng-if="!constraint.isEditing">{{ constraint.min }}</span>
            <input type="number" ng-model="constraint.min" min="0" required ng-if="constraint.isEditing"/>
        </td>

        <!-- Opt -->
        <td title="'Opt'" filter="{opt : 'text'}" sortable="'opt'">
            <span ng-if="!constraint.isEditing">{{ constraint.opt }}</span>
            <input type="number" ng-model="constraint.opt" min="0" required ng-if="constraint.isEditing"/>
        </td>

        <!-- Leave -->
        <td title="'Leave'" filter="{leave : 'text'}" sortable="'leave'">
            <span ng-if="!constraint.isEditing">{{ constraint.leave }}</span>
            <input type="number" ng-model="constraint.leave" min="0" required ng-if="constraint.isEditing"/>
        </td>

        <!-- Edge Shift -->
        <td title="'Edge shift'" filter="{isEdgeShift : 'text'}" sortable="'isEdgeShift'">
            <input type="checkbox" ng-model="constraint.isEdgeShift" ng-disabled="!constraint.isEditing" />
        </td>

        <!-- Actions -->
        <td class="constraints-actions" title="'Actions'">
            <div class="constraints-actions-container">
                <!-- Save -->
                <button class="btn btn-primary btn-sm" ng-click="vm.saveConstraint(constraint)" ng-if="constraint.isEditing" ng-disabled="constraintForm.$pristine || constraintForm.$invalid">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>

                <!-- Cancel -->
                <button class="btn btn-default btn-sm" ng-click="vm.cancelEditingConstraint(constraint, constraintForm)" ng-if="constraint.isEditing">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

                <!-- Edit -->
                <button class="btn btn-default btn-sm" ng-click="constraint.isEditing = true" ng-if="!constraint.isEditing">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <!-- Remove -->
                <button class="btn btn-danger btn-sm" ng-click="vm.removeConstraint(constraint)" ng-if="!constraint.isEditing">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </td>
    </tr>
</table>