<nav class="navbar navbar-inverse" ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href ng-click="vm.goToHomepage()">PAROTA</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-if="vm.isAuthenticated()">
                <a href ng-click="vm.goToNotifications()">
                    <span class="glyphicon glyphicon-bell" ng-class="{ green : vm.socketState().numberOfNewNotifications !== 0}"></span>
                    <span class="notification-count" ng-class="{ green : vm.socketState().numberOfNewNotifications !== 0}">{{ vm.socketState().numberOfNewNotifications }}</span>
                </a>
            </li>

            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user" ng-class="{ green : vm.isAuthenticated() }"></span>
                </a>
                <ul class="dropdown-menu" id="user-dp-content">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="col-md-12 text-center"><strong>User Panel</strong></span>
                            <button class="btn btn-success" ng-if="!vm.isAuthenticated()" ng-click="vm.goToLoginPage()">Sign in</button>
                            <div ng-if="vm.isAuthenticated()">
                                <p>Hello, {{ vm.userData().name }} {{ vm.userData().surname }}</p>
                                <a class="text-center" href="/profile">Go to profile</a>
                                <button class="btn btn-success" ng-click="vm.logout()">Log out</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</nav>