#user-dp-content {
    min-width: 250px;
    padding: 5px 14px 0;
    overflow: hidden;
    background-color: #D8D8D8;
}

#user-dp-content button {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.green {
    color: #008000;
}