.new-team {
    background-color: #dbdbdb;
    padding: 10px;
}

.new-team h3 {
    text-align: center;
}

.new-team input:invalid, .new-team select:invalid {
    border: 1.5px solid #890a0a;
}

.new-team button.btn-basic {
    margin: 10px 9% 30px 9%;
    width: 30%;
    text-align: center;
    white-space: normal;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    background-color: #ababab;
    color: #2b2b2b;
    box-shadow: 1px 1px 5px #999999;
}

.new-team button.btn-basic:hover{
    background-color: #8b8b8b;
}

.new-team button.btn-basic i{
    margin: 0px 2% 0px 2%;
}

.new-team button.btn-add-team {
    background-color: #4ca20b;
    border-color: #3c7009;
}

.new-team button.btn-cancel {
    background-color: #d0d0d0;
}