<div class="new-team">
    <h3>Add new team</h3>
    <form name="newTeamForm" ng-submit='vm.addNewTeam()'>

        <!-- Id -->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" placeholder="ID [max. 3 characters]" ng-model="vm.newTeam.id" maxlength="3" required>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description [max. 255 characters]" ng-model="vm.newTeam.description" maxlength="255" required>
        </div>

        <!-- Time Zone -->
        <div class="form-group">
            <label for="timeZone">Time Zone</label>
            <select class="form-control" id="timeZone" required ng-options="timeZone as timeZone for timeZone in vm.timeZones"
                    ng-value="timeZone" ng-model="vm.newTeam.zoneId">
                <option ></option>
            </select>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-add-team" ng-disabled="newTeamForm.$invalid">Add new team<i class="fa fa-users" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>