<div class="container-fluid">
    <div class="col-md-12 profile-view">
        <div class="avatar">
            <img class="avatar" src={{ vm.user().avatar }}>
        </div>
        <table class="col-md-6 profile-table table">
            <tr class="title">
                <th>Personal data</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>{{ vm.user.name }}</th>
            </tr>
            <tr>
                <th>Surname</th>
                <th>{{vm.user.surname}}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{vm.user.email}}</th>
            </tr>
            <tr>
                <th>Role</th>
                <th>{{vm.user.role.description}}</th>
            </tr>
            <tr>
            <tr>
                <th>Team</th>
                <th>{{vm.user.role.team.description}}</th>
            </tr>
            <tr>
                <th>Time Zone</th>
                <th>{{vm.user.zoneId}}</th>
            </tr>
            <tr class="title">
                <th>Edit</th>
            </tr>
            <tr>
                <th class="change">Change password</th>
                <th>
                    <button class="button-change" ng-click="vm.changePassword()">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
            <tr>
                <th class="change">Change time zone</th>
                <th>
                    <button class="button-change" ng-click="vm.changeTimeZone()">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
            <tr>
                <th class="change">Change avatar</th>
                <th>
                    <button class="button-change" ng-click="vm.changeAvatar()">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
        </table>

        <button type="button" class="btn btn-primary" ng-click="vm.newLeaveRequest()">Create leave request</button>
    </div>
</div>