.profile-view {
    padding: 5px 0px 10px 50px;
}
.profile-table {
    padding: 10px;
    margin: 20px;
    background-color: #e0e0e0;
}

.profile-table tr {
    margin-left: 20px;
}

.profile-table tr.title {
    border-top: 5px solid #3e3b3d;
    border-bottom: 2px solid #3e3b3d;
    font-size: 26px;
    width: 100%;
}

.profile-table th {
    margin: 10px 20px 10px 20px;
    font-size: 22px;
    color: #1e1b1d;
    font-weight: normal;
}

.profile-table .change {
    font-size: 20px;
    margin-left: 30px;
    color:  #2e2b2d;
}

.profile-table button.button-change{
    border: none;
    background-color: #e0e0e0;
}

.profile-table button.button-change:hover{
    color: #5e5b5d;
}

.profile-table th:first-child {
    font-weight: bold;
    width: 25%;
}

.profile-view .avatar {
    margin: 10px;
}

img.avatar {
    width: 150px;
    height: 150px;
    border: 3px solid #3e3b3d;
    background-color: #e0e0e0;;
    border-radius: 50%;
    text-align: center;
}