<div class="remove-user">
    <h3>Do you want to remove the following user?</h3>
    <h3>{{ vm.userToRemove.name }} {{ vm.userToRemove.surname }} ({{ vm.userToRemove.pid }})</h3>
    <form name="removeUserForm" ng-submit='vm.removeUser()'>
        <!-- Remove date -->
        <div class="form-group">
            <label for="user-remove-date">Remove date</label>
            <input type="text" class="form-control" id="user-remove-date" placeholder="Remove date" required>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-add-user" ng-disabled="removeUserForm.$invalid">Remove user<i class="fa fa-user-times" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>
