<div class="new-leave-request">
    <h3>Create new leave request</h3>
    <form name="newLeaveRequestForm" ng-submit='vm.addNewLeaveRequest()'>
        <!-- Start date -->
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="text" class="form-control" id="startDate" placeholder="Start date" required>
        </div>

        <!-- End date -->
        <div class="form-group">
            <label for="endDate">End date</label>
            <input type="text" class="form-control" id="endDate" placeholder="End date" required>
        </div>

        <!-- Leave Type -->
        <div class="form-group">
            <label for="leaveType">Leave Type</label>
            <select class="form-control" id="leaveType" required ng-options="leaveType.id as leaveType.description for leaveType in vm.leaveTypes"
                    ng-value="leaveType.id" ng-model="vm.leaveType">
                <option ></option>
            </select>
        </div>

        <!-- Message -->
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" placeholder="Message" ng-model="vm.message" required></textarea>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-create-leave-request" ng-disabled="newLeaveRequestForm.$invalid">Submit leave request<i class="fa fa-user-plus" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>
