<div class="new-user">
    <h3>Add new user</h3>
    <form name="newUserForm" ng-submit='vm.addNewUser()'>
        <!-- PID -->
        <div class="form-group">
            <label for="pid">PID</label>
            <input type="text" class="form-control" id="pid" placeholder="PID" ng-model="vm.newUser.pid" required>
        </div>

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.newUser.name" required>
        </div>

        <!-- Surname -->
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="vm.newUser.surname" required>
        </div>

        <!-- Email address -->
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.newUser.email" required>
        </div>

        <!-- Team -->
        <div class="form-group">
            <label for="team">Team</label>
            <select class="form-control" id="team" required ng-options="team.id as team.description for team in vm.teams"
                    ng-value="team.id" ng-model="vm.newUser.team">
                <option ></option>
            </select>
        </div>

        <!-- Role -->
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" required ng-options="role.id as role.description for role in vm.filterRolesForTeam(vm.newUser.team)"
                    ng-value="role.id" ng-model="vm.newUser.role" ng-disabled="!vm.newUser.team">
                <option ></option>
            </select>
        </div>

        <!-- User Type -->
        <div class="form-group">
            <label for="userType">User Type</label>
            <select class="form-control" id="userType" required ng-options="type.id as type.description for type in vm.userTypes"
                    ng-value="type.id" ng-model="vm.newUser.userType">
                <option ></option>
            </select>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-add-user" ng-disabled="newUserForm.$invalid">Add new user<i class="fa fa-user-plus" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>
