<div class="new-change-request">
    <h3>Create new change request</h3>
    <form name="newChangeRequestForm" ng-submit='vm.addNewChangeRequest()'>
        <!-- Current user -->
        <div class="form-group">
            <label for="currentUser">You:</label>
            <input type="text" class="form-control" id="currentUser" ng-model="vm.currentUser.displayName" disabled required>
        </div>

        <!-- Target user -->
        <div class="form-group">
            <label for="targetUser">Target user:</label>
            <input type="text" class="form-control" id="targetUser" ng-model="vm.targetUser.displayName" disabled required>
        </div>

        <!-- Start date -->
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="text" class="form-control" id="startDate" placeholder="Start date" required>
        </div>

        <!-- End date -->
        <div class="form-group">
            <label for="endDate">End date</label>
            <input type="text" class="form-control" id="endDate" placeholder="End date" required>
        </div>

        <!-- Message -->
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" placeholder="Message" ng-model="vm.message" required></textarea>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-create-change-request" ng-disabled="newChangeRequestForm.$invalid">Submit change request<i class="fa fa-user-plus" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>
