<div class="edit-team">
    <h3>Edit team: {{ vm.teamToEdit.id }}</h3>
    <form name="editTeamForm" ng-submit='vm.editTeam()'>

        <!-- Id -->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" placeholder="ID [max. 3 characters]" ng-model="vm.teamToEdit.id" maxlength="3" required>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description [max. 255 characters]" ng-model="vm.teamToEdit.description" maxlength="255" required>
        </div>

        <!-- Time Zone -->
        <div class="form-group">
            <label for="timeZone">Time Zone</label>
            <select class="form-control" id="timeZone" required ng-model="vm.teamToEdit.zoneId">
                <option ng-repeat="timeZone in vm.timeZones" value="{{timeZone}}" ng-selected="timeZone === vm.teamToEdit.zoneId">{{ timeZone }}</option>
            </select>
        </div>

        <!-- Add button -->
        <button type="submit" class="btn btn-primary btn-basic btn-add-team" ng-disabled="editTeamForm.$invalid">Update team<i class="fa fa-users" aria-hidden="true"></i></button>

        <!-- Cancel button -->
        <button type="button" class="btn btn-primary btn-basic btn-cancel" ng-click="vm.cancel()">Cancel</button>
    </form>
</div>