<div class="user-list-heading">
    User list
</div>

<div class="user-list-add-button">
    <button type="button" class="btn btn-success" ng-click="vm.addUser()">
        <span class="glyphicon glyphicon-plus"></span>
        Add new user
    </button>
</div>

<table ng-table="vm.userTable" show-filter="true" class="table table-bordered filled-cells">
    <tr ng-repeat="user in $data">
        <td title="'PID'" filter="{pid : 'text'}" sortable="'pid'">{{user.pid}}</td>
        <td title="'First Name'" filter="{name : 'text'}" sortable="'name'">{{user.name}}</td>
        <td title="'Last Name'" filter="{surname : 'text'}" sortable="'surname'">{{user.surname}}</td>
        <td title="'Email'" filter="{email : 'text'}" sortable="'email'">{{user.email}}</td>
        <td title="'Role'" filter="{role_description : 'text'}" sortable="'role_description'">{{user.role.description}}</td>
        <td title="'Team'" filter="{team_description : 'text'}" sortable="'team_description'">{{user.role.team.description}}</td>
        <td title="'User Type'" filter="{user_type : 'text'}" sortable="'user_type'">{{user.userType.description}}</td>
        <td title="'Status'" filter="{status : 'text'}" sortable="'status'">{{user.status}}</td>

        <td class="user-actions" title="'Actions'">
            <div class="user-actions-container">
                <span class="glyphicon glyphicon-user" ng-click="vm.showUser(user.id)"></span>
                <span class="glyphicon glyphicon-pencil" ng-click="vm.editUser(user)"></span>
                <span ng-show="user.status !== 'DELETED'" class="glyphicon glyphicon-remove" ng-click="vm.removeUser(user)"></span>
            </div>
        </td>
    </tr>
</table>