.user-list-heading {
    font-size: xx-large;
    margin-bottom: 10px;
}

.user-list-add-button {
    margin-bottom: 10px;
}

.filled-cells {
    background-color: #FFFFFF !important;
}

.ng-table-pagination {
    display: flex !important;
    justify-content: center !important;
}

.user-actions-container {
    display: flex;
    justify-content: center;
}

.user-actions span {
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.user-actions .glyphicon {
    font-size: 1.2em;
}

.user-actions .fa {
    font-size: 1.4em;
}