.notifications {
    background-color: #dbdbdb;
    margin-top: 20px;
    padding-top: 20px;
}

.notifications .pull-right {
    padding: 5px;
    margin-bottom: 30px;
}

.notifications tr, .notifications td {
    border: none !important;
}

.notifications .read {
    background-color: #dedeff;
}

.notifications .unread {
    background-color: #2288ff;
    cursor: pointer;
}

.notifications .accepted-leave {
    background-color: #feffde;
}

.notifications .not-accepted-leave {
    background-color: #e99a0a;
    cursor: pointer;
}

.notifications .accepted-change {
    background-color: #dfffee;
}

.notifications .not-accepted-change {
    background-color: #4eb305;
    cursor: pointer;
}

.notifications tr.title-notifications{
    border: 1px solid #2288ff !important;
    margin-bottom: 5px;
}

.notifications tr.title-leave{
    border: 1px solid #e99a0a !important;
    margin-bottom: 5px;
}

.notifications tr.title-change{
    border: 1px solid #4eb305 !important;
    margin-bottom: 5px;
}

.notifications button.notifications-btn-on {
    background-color: #2288ff;
    border: 1px solid #2288ff;
}

.notifications button.notifications-btn-off {
    background-color: #0b58a2;
    border: 1px solid #0b58a2;
}

.notifications button.leave-btn-on {
    background-color: #e99a0a;
    border: 1px solid #e99a0a;
}

.notifications button.leave-btn-off {
    background-color: #876400;
    border: 1px solid #876400;
}

.notifications button.change-btn-on {
    background-color: #4eb305;
    border: 1px solid #4eb305;
}

.notifications button.change-btn-off {
    background-color: #355500;
    border: 1px solid #355500;
}

.notifications button.all-btn-on {
    background-color: #8a0e4f;
    border: 1px solid #8a0e4f;
}

.notifications button.all-btn-off {
    background-color: #662c5f;
    border: 1px solid #662c5f;
}