<div class="notifications col-md-12 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-filter" ng-class="vm.notificationsAvailable ? 'notifications-btn-on' : 'notifications-btn-off'"
                            ng-click="vm.notificationsAvailable ? vm.notificationsAvailable = false : vm.notificationsAvailable = true">System Notifications</button>
                    <button type="button" class="btn btn-warning btn-filter" ng-class="vm.leaveRequestsAvailable ? 'leave-btn-on' : 'leave-btn-off'"
                            ng-click="vm.leaveRequestsAvailable ? vm.leaveRequestsAvailable = false : vm.leaveRequestsAvailable = true">Leave Request Notifications</button>
                    <button type="button" class="btn btn-info btn-filter" ng-class="vm.changeRequestsAvailable ? 'change-btn-on' : 'change-btn-off'"
                            ng-click="vm.changeRequestsAvailable ? vm.changeRequestsAvailable = false : vm.changeRequestsAvailable = true">Change Request Notifications</button>
                    <button type="button" class="btn btn-success btn-filter" ng-class="vm.notificationsAvailable && vm.leaveRequestsAvailable && vm.changeRequestsAvailable ? 'all-btn-on' : 'all-btn-off'"
                            ng-click="vm.notificationsAvailable = true; vm.leaveRequestsAvailable = true; vm.changeRequestsAvailable = true">
                        All Notifications
                    </button>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-filter">
                    <tbody>
                        <tr ng-show="vm.notificationsAvailable === true" class="title-notifications">
                            <td> System Notifications: </td>
                        </tr>
                        <tr ng-repeat="n in vm.notifications" ng-show="n && vm.notificationsAvailable === true"
                            ng-class="n.status==='U' ? 'unread' : 'read'" ng-click="vm.readNotification(n)">
                            <td ng-show="n.date"> {{ n.date[0] }}/{{ n.date[1] }}/{{ n.date[2] }}</td>
                            <td colspan="5" ng-show="n.message"> <strong> {{n.message}} </strong> </td>
                        </tr>
                        <tr ng-show="vm.leaveRequestsAvailable === true" class="title-leave">
                            <td> Leave Requests: </td>
                        </tr>
                        <tr ng-repeat="n in vm.leaveRequests" ng-show="vm.leaveRequestsAvailable === true"
                            ng-class="n.notification.status==='A' ? 'accepted-leave' : 'not-accepted-leave'" ng-click="vm.acceptRequest(n)">
                            <td ng-show="n.notification.date"> {{ n.notification.date[0] }}/{{ n.notification.date[1] }}/{{ n.notification.date[2] }}</td>
                            <td ng-show="n.notification.message"> <strong>{{n.notification.message}}</strong> </td>
                            <td ng-show="n.leaveStart || n.leaveEnd">
                                {{n.leaveStart}}-{{n.leaveEnd}}
                            </td>
                            <td ng-show="n.leaveType.id"> shift: {{ n.leaveType.id }}</td>
                            <td ng-show="n.sender"> from: {{ n.sender.name }} &nbsp; {{ n.sender.surname }}</td>
                        </tr>
                        <tr ng-show="vm.changeRequestsAvailable === true" class="title-change">
                            <td> Change Requests: </td>
                        </tr>
                        <tr ng-repeat="n in vm.changeRequests" ng-show="n && vm.changeRequestsAvailable === true"
                            ng-class="n.notification.status==='A' ||  n.sender.id === vm.user.id ? 'accepted-change' : 'not-accepted-change'"  ng-click="vm.acceptRequest(n)">
                            <td ng-show="n.notification.date"> {{ n.notification.date[0] }}/{{ n.notification.date[1] }}/{{ n.notification.date[2] }}</td>
                            <td ng-show="n.notification.message"> <strong>{{n.notification.message}}</strong> </td>
                            <td ng-show="n.shiftStart || n.shiftEnd">
                                {{n.shiftStart}}-{{n.shiftEnd}}
                            </td>
                            <td> {{ n.notification.status === 'A' ? 'Accepted' : 'Not accepted' }} </td>
                            <td> {{ n.sender.id === vm.user.id ? ('to: ' + n.notification.receiver.name + ' ' + n.notification.receiver.surname) : ('from: ' + n.sender.name + ' ' + n.sender.surname) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>