<div class="container shifts">
    <div class="heading">
        <button class="btn getPreviousWeek" ng-click="vm.getPreviousWeek()">
            <i class="fa fa-chevron-circle-left"></i>
        </button>
        <h2 class="title"> Rota </h2>
        <button class="btn getNextWeek" ng-click="vm.getNextWeek()">
            <i class="fa fa-chevron-circle-right"></i>
        </button>
    </div>
    <table class="table table-bordered shifts">
        <!-- Year -->
        <tr>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="year in vm.years" colspan="{{year.count}}">
                {{ year.value }}
            </th>
        </tr>

        <!-- Month -->
        <tr>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="month in vm.months" colspan="{{month.count}}">
                {{ month.value }}
            </th>
        </tr>

        <!-- Day -->
        <tr>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="(key, date) in vm.dates">
                {{ date.day }}
            </th>
        </tr>

        <!-- Day of week -->
        <tr>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="(key, date) in vm.dates">
                {{ date.dayOfWeek }}
            </th>
        </tr>

        <!-- User -->
        <tr ng-repeat="(userId, user) in vm.users">
            <td class="username"> {{user.userName}} {{user.userSurname}} </td>

            <!-- User shifts -->
            <td class="shiftType" ng-repeat="(key, shift) in vm.usersShifts[userId]" ng-class=shift.shiftTypeId>
                {{shift.shiftTypeId}} &nbsp;
                <span ng-show="shift.shiftComment" title={{shift.shiftComment}} class="glyphicon glyphicon-comment"></span>
            </td>
        </tr>
    </table>

    <h2 class="title"> Summary </h2>

    <table class="table table-bordered shifts opt" style="display: flex">
        <!-- Year -->
        <tr>
            <td class="right-border"></td>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="year in vm.years" colspan="{{year.count}}">
                {{ year.value }}
            </th>
        </tr>

        <!-- Month -->
        <tr>
            <td class="right-border"></td>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="month in vm.months" colspan="{{month.count}}">
                {{ month.value }}
            </th>
        </tr>

        <!-- Day -->
        <tr>
            <td class="right-border"></td>
            <td class="right-border"></td>
            <th class="shiftDate" ng-repeat="(key, date) in vm.dates">
                {{ date.day }}
            </th>
        </tr>

         <!--No. of people-->
        <tr ng-repeat="s in vm.shifts">
            <td class="username"> {{ s.role }} </td>
            <td class="username"> {{ s.shift }} </td>
            <td class="opts" ng-repeat="(key, date) in vm.dates"
                ng-class="s.min === -1 ? 'wo-work' : (((s.min > s.dates[key]) && (date.dayOfWeek !== 'Sat') && (date.dayOfWeek !== 'Sun')) ? 'min' : (s.opt <= s.dates[key] ? 'good' : 'opt'))">
                {{ s.dates[key] }}
            </td>
        </tr>
    </table>

</div>

<bottom-bar></bottom-bar>