.shifts {
    background-color: #dbdbdb;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: table-cell;
}

.shifts .heading {
    display: flex;
}

.shifts .title {
    text-align: center;
    width: 33%;
}

.shifts table .shifts {
    overflow: scroll;
}

.shifts table .shifts tr {
    width: 100%;
}

.shifts table .shiftType {
    width: 10%;
}

.shifts table .username {
    width: 20%;
    background-color: #ebebeb;
}

.shifts table th.shiftDate {
    text-align: center;
    border: 1px solid #fbfbfb !important;
}

.shifts table td.right-border {
    border-right: 1px solid #fbfbfb !important;
}

.shifts button {
    width: 33%;
    font-size: 26px;
    background-color: #dbdbdb;
}

.shifts .getPreviousWeek {
    text-align: left;
}

.shifts .getNextWeek {
    text-align: right;
    margin-left: 5px;
}

.shifts .min {
    background-color: #fa0202;
}

.shifts .good {
    background-color: #02a009;
}

.shifts .opt {
    background-color: #dbdbdb;
}

.shifts .wo-work {
    background-color: #9b9b9b;
}