<div class="login-form">
    <form class="form-horizontal" name="loginForm" novalidate>
        <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="email" id="email" ng-model="vm.loginForm.email" placeholder="Email" required/>
                </div>

                <div class="error-message" ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted || loginForm.email.$dirty">
                    <span ng-message="required">This field is required</span>
                    <span ng-message="email">Your email address is invalid</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password" ng-model="vm.loginForm.password" placeholder="Password" ng-minlength="6" ng-maxlength="32" required/>
                </div>

                <div class="error-message" ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted || loginForm.password.$dirty">
                    <span ng-message="required">This field is required</span>
                    <span ng-message="minlength">Password should be minimum 6 characters</span>
                    <span ng-message="maxlength">Password shouldn't be longer than 32 characters</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="vm.login(loginForm.$valid)" value="Sign in" />
        </div>
    </form>
</div>
