.login-form {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 370px;
    padding: 10px 40px 5px 40px;
}

.error-message span {
    background: #800000;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    display: block;
}

.error-message :after {
    position:absolute;
    top:-10px;
    content:"";
    left:20px;
    border: 5px solid transparent;
    border-bottom-color: #800000;
    display: block;
}