html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    background-color: #718693 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

    border-radius: 4px;
    background-color: #222;
    border-color: #080808;
}

.footer p {
    font-weight: bold;
    color: #999;
}

.main-page-content {
    width: 100%;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.W08 {
    background-color: #0066cc;
}

.W09 {
    background-color: #0077bb;
}

.W07 {
    background-color: #0088aa;
}

.W11 {
    background-color: #0099dd;
}

.W10 {
    background-color: #00aadd;
}

.FS {
    background-color: #7e7783;
}

.E {
    background-color: #7d88B2;
}

.WFH {
    background-color: #d9d6c4;
}

.N07 {
    background-color: #34aaB2;
}

.N08 {
    background-color: #34baB2;;
}

.N09 {
    background-color: #34caB2;
}

.N10 {
    background-color: #34ccB2;;
}

.N11 {
    background-color: #34eeB2;;
}

.B07 {
    background-color: #995656;
}

.B08 {
    background-color: #aa5643;
}

.B09 {
    background-color: #bb7856;
}

.B10 {
    background-color: #cc5656;
}

.B11 {
    background-color: #dd9956;
}

.M07 {
    background-color: #895689;
}

.M08 {
    background-color: #995699;
}

.M09 {
    background-color: #a978a9;
}

.M10 {
    background-color: #675067;
}

.M11 {
    background-color: #aa99aa;
}

#main {
    display: inline-block;
}



