<div class="team-list-heading">
    Team list
</div>

<div class="team-list-add-button">
    <button type="button" class="btn btn-success" ng-click="vm.addTeam()">
        <span class="glyphicon glyphicon-plus"></span>
        Add new team
    </button>
</div>

<table ng-table="vm.teamTable" show-filter="true" class="table table-bordered filled-cells">
    <tr ng-repeat="team in $data">
        <td title="'Id'" filter="{id : 'text'}" sortable="'id'">{{team.id}}</td>
        <td title="'Description'" filter="{description : 'text'}" sortable="'description'">{{team.description}}</td>
        <td title="'Time Zone'" filter="{zoneId : 'text'}" sortable="'zoneId'">{{team.zoneId}}</td>

        <td class="team-actions" title="'Actions'">
            <div class="team-actions-container">
                <span class="glyphicon glyphicon-th-list" ng-click="vm.showTeam(team.id)"></span>
                <span class="glyphicon glyphicon-pencil" ng-click="vm.editTeam(team)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="vm.removeTeam(team.id)"></span>
            </div>
        </td>
    </tr>
</table>