.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 52px; /* Height of navbar */
    left: 0;
    background-color: #DCDCDC;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    z-index: 9999;
}

.sidenav .inner-addon {
    margin: 8px 8px 8px 15px;
    transition: 0.3s;

    position: relative;
}

.sidenav .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
}

.sidenav .right-addon .glyphicon {
    right: 0;
    cursor: pointer;
}

.sidenav .right-addon input {
    padding-right: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #000000;
}

.sidenav-button-container {
    height: 100%;
    position: fixed;
    left: 0;
    top: 50%;
    margin-left: 0;
    transition: 0.5s;
    z-index: 9999;
}

.sidenav-button-container .glyphicon {
    font-size: 2em;
}

.sidenav-button-container span:hover {
    color: #585858;
}
