<div ng-controller="SidenavController as vm" ng-show="vm.isAuthenticated()">
    <div id="side-nav" class="sidenav">
        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-search" ng-click="vm.search()"></i>
            <input type="text" class="form-control" ng-model="vm.searchQuery" ng-enter="vm.search()" />
        </div>
        <a href="/search">Advanced Search</a>
        <a href="/rota">My Shift</a>
        <a href="/profile">Profile</a>
        <a href="/notifications">Notifications</a>
        <a href="/shifts">Shifts</a>
        <a href="/users">Users</a>
        <a href="/teams">Teams</a>
        <a href="/admin">Admin view</a>
    </div>

    <div class="sidenav-button-container">
        <span id="side-nav-toggle-btn" class="glyphicon glyphicon-chevron-right"></span>
    </div>
</div>