<div class="container">
    <div class="col-md-12 rota-view">
        <h2 class="rota-title"> {{vm.user.name}} {{vm.user.surname}} </h2>
        <table class="rota-table">
            <!-- Year -->
            <tr>
                <td></td>
                <th class="rota-dates" ng-repeat="year in vm.years" colspan="{{year.count}}">
                    {{ year.value }}
                </th>
                <td></td>
            </tr>

            <!-- Month -->
            <tr>
                <td></td>
                <th class="rota-dates" ng-repeat="month in vm.months" colspan="{{month.count}}">
                    {{ month.value }}
                </th>
                <td></td>
            </tr>

            <!-- Day -->
            <tr>
                <td></td>
                <th class="rota-dates" ng-repeat="shift in vm.shifts">
                    {{ shift.shiftId.day }}
                </th>
                <td></td>
            </tr>

            <!-- Day of week -->
            <tr>
                <td></td>
                <th class="rota-dates" ng-repeat="shift in vm.shifts">
                    {{ shift.shiftId.dayOfWeek }}
                </th>
                <td></td>
            </tr>

            <tr>
                <td>
                    <button class="btn" ng-click="vm.getPreviousWeek()"><i class="fa fa-chevron-circle-left"></i></button>
                </td>
                <td class="rota-shift col-md-2" ng-repeat="shift in vm.shifts" ng-class=shift.shiftType.id>
                    {{shift.shiftType.id}}
                    <span ng-show="shift.comment" title={{shift.comment}} class="glyphicon glyphicon-comment"></span>
                </td>
                <td>
                    <button class="btn" ng-click="vm.getNextWeek()"><i class="fa fa-chevron-circle-right"></i></button>
                </td>
            </tr>
        </table>
    </div>

    <button type="button" class="btn btn-primary" ng-if="vm.shouldShowChangeRequestButton()" ng-click="vm.newChangeRequest()">Create change request</button>
</div>

<bottom-bar></bottom-bar>
