.rota-title {
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1c1c1c;
}

.rota-view {
    padding: 15px 0px 15px 0px;
    margin: 30px 5px 100px 5px;
    font-size: 12px;
    background-color: #dbdbdb;
    position: fixed;
    display: table;
}


.rota-table {
    border: none;
    background-color: #dbdbdb;
    color: #1c1c1c;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.rota-table td {
    padding: 5px;
    margin: 5px;
}

.rota-table th {
    text-align: center;
}

.rota-table th:first-child, .rota-table th:last-child {
    width: 5%;
}

.rota-table th.rota-dates {
    background-color: #bbbbbb;
    color: #1c1c1c;
    font-size: 12px;
    border: 2px solid #fbfbfb;
}

.rota-table td:first-child, .rota-table td:last-child {
    margin: 5px;
    width: 5%;
    height: 100%;
    background-color: #bbbbbb;
}

.rota-table td:first-child button, .rota-table td:last-child button{
    background-color: #bbbbbb;
    font-size: 26px;
}

.rota-table td button {
    margin: 0px;
    padding: 20px 0px;
}

.rota-table tr:first-child {
    margin: 10px;
    background-color: #bbbbbb;
    color: #1c1c1c;
}

.rota-table tr:first-child th{
    margin: 10px;
    font-size: 12px;
    border-top: none;
}

.rota-shift {
    font-size: 12px;
    text-align: center;
}