<div class="search-query-heading" ng-if="vm.queryNotEmpty()">
    Search results for: <span>{{ vm.query }}</span>
</div>

<div class="search-custom-filters input-group date">
    <input type="text" class="form-control" placeholder="Date/Hour" id="custom-filter" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-search" ng-click="vm.applyCustomFilter()"></span>
    </span>
</div>

<table ng-table="vm.searchResultsTable" show-filter="true" class="table table-bordered filled-cells">
    <tr ng-repeat="person in $data">
        <td title="'First Name'" filter="{firstName : 'text'}" sortable="'firstName'">{{person.firstName}}</td>
        <td title="'Last Name'" filter="{lastName : 'text'}" sortable="'lastName'">{{person.lastName}}</td>
        <td title="'Role'" filter="{role : 'text'}" sortable="'role'">{{person.role}}</td>
        <td title="'Team'" filter="{team : 'text'}" sortable="'team'">{{person.team}}</td>

        <td class="search-actions" title="'Actions'">
            <div class="search-actions-container">
                <span class="glyphicon glyphicon-calendar" ng-click="vm.showRotaForUser(person.id)"></span>
                <span class="fa fa-cog" ng-if="vm.isAdmin()" ng-click="vm.showActionsForAdmin(person.id)"></span>
            </div>
        </td>
    </tr>
</table>