.search-query-heading {
    font-size: x-large;
    margin-bottom: 10px;
}

.search-query-heading span {
    font-weight: bold;
}

.search-custom-filters {
    margin: 10px 0 10px 0;
    width: 30%;
}

.search-actions-container {
    display: flex;
    justify-content: center;
}

.search-actions span {
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.search-actions .glyphicon {
    font-size: 1.2em;
}

.search-actions .fa {
    font-size: 1.4em;
}

.filled-cells {
    background-color: #FFFFFF !important;
}

.ng-table-pagination {
    display: flex !important;
    justify-content: center !important;
}